.companyLogos {
    max-width: 720px;
    padding-top: 36px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6em;
        width: 12em;
        border: 1px solid var(--border-color);
        border-radius: 8px;
    }
}
@media(min-width: 1340px) {
    .companyLogos {
        max-width: 1340px;
    }
}