.navWrapper {
    height: 80px;
    position: sticky;
    display: grid;
    margin: auto auto;
    padding-top: 20px;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    max-width: 100%;
    gap: 64px;
    padding-right: 24px;
    padding-left: 12px;
    z-index: 1000;
}
.logoLink {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
:global(a.active) {
    color: var(--brand-primary);
} 
.logoName {
    font: var(--xl-text);
}
.signin {
    display: none;
}
.links {
    display: none;
}
@media (min-width: 720px) {
    .navWrapper {
        max-width: 720px;
        gap: 76px;
    }
    .themeSettingsWrapper {
        margin-bottom: 0;
    }
    .themeText {
        display: block;
    }
}
@media (min-width: 1340px) {
    .navWrapper {
        max-width: 1340px;
        grid-template-columns: auto 1fr auto auto;
        gap: 32px;
    }
    .signin {
        display: block;
        margin-left: 32px;
    }
    .links {
        position: relative;
        top: auto;
        width: auto;
        right: auto;
        min-height: 0;
        border-radius: 0;
        background-color: transparent;
        display: block;
        animation: none; 
    }
    
    .navLink {
        margin-right: 1em;
    }
    .navLink:hover {
        color: var(--brand-primary);
    }
}