.sliderImages {
    display: flex;
    margin: 3em auto;
    width: 10em;
}

.nextBtn, .prevBtn {
    position: absolute;
    bottom: 50%;
}
.nextBtn {
    right: 2.5em;
}
.prevBtn {
    left: 2.5em;
}
@media(min-width: 720px)  {
    .slide {
        width: 33.333%; 
        transition: transform 0.5s ease;
    }
    .sliderImages {
        width: 90%;
        scale: 0.8;
    }
}
@media(min-width: 1340px)  {
    .sliderImages {
        width: 60%;
    }
    .nextBtn {
        right: 10%;
    }
    .prevBtn {
        left: 10%;
    }
}