.sliderImages {
    display: flex;
    margin: 3em auto;
    width: 10em; 
    min-height: 7em;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.slideImage {
    width: 10em;
}
.nextBtn, .prevBtn {
    position: absolute;
    bottom: 50%;
}
.nextBtn {
    right: 2.5em;
}
.prevBtn {
    left: 2.5em;
}
.active{
    scale: 1.2;
}

/* animtions */
.slideOutLeft {
    animation: slideOutLeft 0.2s ease-out forwards;
}
.slideInRight {
    animation: slideInRight 0.2s ease-in forwards;
}
@keyframes slideOutLeft {
    from {
        opacity: 100;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(200%);
    }
}
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-200%);
    }
    to {
        opacity: 100;
        transform: translateX(0);
    }
}
.slideOutRight {
    animation: slideOutRight 0.2s ease-out forwards;
}
.slideInLeft {
    animation: slideInLeft 0.2s ease-in forwards;
}
@keyframes slideOutRight {
    from {
        opacity: 100;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-200%);
    }
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(200%);
    }
    to {
        opacity: 100;
        transform: translateX(0);
    }
}
/* media queries */
@media(min-width: 720px)  {
    .slide {
        width: 33.333%; 
        transition: transform 0.5s ease;
    }
    .sliderImages {
        width: 90%;
        scale: 0.8;
        overflow: visible;
    }
}
@media(min-width: 1340px)  {
    .sliderImages {
        width: 60%;
        scale: 1;
    }
    .nextBtn {
        right: 10%;
    }
    .prevBtn {
        left: 10%;
    }
}