.testamonialsCard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 350px;
    width: 416px;
    align-self: center;
    background-color: var(--bg-white);
    border-radius: 8px;

}
.citatImg {
    display: grid;
    position: absolute;
    width: 44px;
    height: 44px;
    margin-left: 34px;
    transform: translateY(-24px);
    border-radius: 6px;
    background-color: var(--brand-primary);
    place-content: center;
}
.stars {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}
.testamonialsContent {
    grid-column: 2 / 12;
    grid-row: 5 / 9;
}
.testamonialsPerson {
    display: flex;
    grid-column: 2 / 12;
    grid-row: 10 / 12;
    img {
        margin-right: 10px;
    }
    .name {
        font: var(--l-text);
    }
}