.navWrapper {
    height: 80px;
    display: grid;
    margin: auto auto;
    padding-top: 20px;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    max-width: 100%;
    gap: 64px;
    padding-right: 24px;
    padding-left: 12px;
}
.logoLink {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.logoName {
    font: var(--xl-text);
}
.signin {
    display: none;
}
.flex {
    display: flex;
}
